<!-- index_payments.html -->

{% extends 'fExtra/base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Index Payments" %}{% endblock %}

{% block content %}
<h1>Index Payments</h1>
<form id="index-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" id="id_confirm_indexation" name="confirm_indexation" value="false">
    <button type="submit">Index Payments</button>
</form>

<script>
document.getElementById('index-form').onsubmit = function(event) {
    let confirmRequired = {{ confirm_required|yesno:"true,false" }};
    if (confirmRequired) {
        console.log("init javascript 1");
        event.preventDefault();
        if (confirm("An indexation already exists for this year. Do you want to add another one?")) {
            console.log("init javascript 2");
            document.getElementById('id_confirm_indexation').value = "true";
            console.log(document.getElementById('id_confirm_indexation').value);
            this.submit();
        } else {
            document.getElementById('id_confirm_indexation').value = "false";
        }
    }
}
</script>
{% endblock %}
