.nav-link.active, .nav-item.active {
    /*!important overrides all current styles*/
    background-color: transparent !important;

}

@media (max-width: 992px) {
            #sidebar {
                display: none;
            }
            .navbar-toggler {
                display: block;
            }
            .mobile-menu {
                display: block;
            }
        }

@media (min-width: 993px) {
    .navbar-toggler {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
}
